
#card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    max-width: 1000px;
    margin: 0 auto;

}
 

.card {
    padding: 20px;
    background-color: #dddfdf;
    border-radius: 8px;
    box-shadow: 0 13px 30px rgba(0, 0, 0, 0, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card h2 {
    color: #140a0a;
    font-size: 20px;
    
}



.card p {

    color: #444;
    font-size: 14px;
    line-height: 1.5;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
